.notes{
    padding: 20px;
}
.card{
    margin-bottom: 5px;
}
.notes a {
    color: black;
}

.notes a:hover{
    color: darkgray;
    text-decoration: none;
}
.note-links{
    text-transform: capitalize;
    text-align: center;
}
.btn-delete{
    font-size: 13px;
    background-color: brown;
    padding:5px;
    border: none;
}